#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  font-family: monospace;
}

nav {
  display: flex;
  justify-content: center;
}

.label {
  /* 4.25in is half of US letter width */
  /* 2.75in is 1/4 of US letter height */
  width: 4in;
  height: 2.55in; 

  padding: 10px;
  margin: 5px;
  border: 2px solid #ccc;
  display: inline-block;
  text-align: center;
}

.label h1 {
  margin: 0;
  font-size: 3.5rem;
  display: flex;
  justify-content: end;
}
