#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  font-family: monospace;
}

header {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  width: 5rem;
  padding: 5px;
  border-radius: 8px;
}

.num {
  margin-left: 1rem;
}

.label {
  /* 4.25in is half of US letter width */
  /* 2.75in is 1/4 of US letter height */
  width: 4in;
  height: 2.52in;

  padding: 5px;
  margin: 3px;
  border: 2px solid #ccc;
  display: inline-block;
  text-align: center;
}

.label h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-right: 5px;
  font-size: 3.7rem;
  display: flex;
  justify-content: end;
}

.label-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.label-content span {
  margin: 0;
}

.category {
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 0.9rem;
}

.size {
  font-size: 0.9rem;
}

@media print {
  body {
    margin: 0;
    width: 100%;
  }

  header,
  form {
    display: none;
  }

}